@import './mixins';

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0px;
}


.player-turn {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-inline: 2rem;
  width: 600px;
  margin-inline: auto;
  border-top-right-radius: 0.7rem;
  border-top-left-radius: 0.7rem;
  box-shadow: 0.1rem 0.1rem 0.15rem rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}


.move {
  position: relative;
}

.restart-game {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.btn-restart {
  cursor: pointer;
  font-size: 1.1rem;
  background-color: greenyellow;
  border: none;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0.65);
  box-shadow: 0.1rem 0.1rem 0.15rem rgba(0, 0, 0, 0.4);
  transition: all 0.1s ease-in-out;
}

.btn-restart:hover {
  font-size: 1.15rem;
  background-color: aquamarine;
  color: black;
}

.change-mode {
  position: absolute;
  top: 5rem;
  right: 1rem;
}

.btn-mode {
  cursor: pointer;
  font-size: 1.1rem;
  background-color: greenyellow;
  border: none;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0.65);
  box-shadow: 0.1rem 0.1rem 0.15rem rgba(0, 0, 0, 0.4);
  transition: all 0.1s ease-in-out;
}

.btn-mode:hover {
  font-size: 1.15rem;
  background-color: aquamarine;
  color: black;
}

.show-rules {
  position: absolute;
  top: 5rem;
  left: 1rem;
}

.btn-show-rules {
  cursor: pointer;
  font-size: 1.1rem;
  background-color: greenyellow;
  border: none;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0.65);
  box-shadow: 0.1rem 0.1rem 0.15rem rgba(0, 0, 0, 0.4);
  transition: all 0.1s ease-in-out;
}

.btn-show-rules:hover {
  font-size: 1.15rem;
  background-color: aquamarine;
  color: black;
}

.current-game-mode {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.15rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: rgb(64, 255, 47);
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
}

.current-game-mode > span {
  font-weight: bold;
}





@include media-md {
  
    .player-turn {
      margin-top: 5rem;
      width: 500px;
    }

    .show-rules {
      top: 1rem;
      left: 11rem;
    }

    .change-mode {
      top: 1rem;
      left: 19.9rem;
    }

}



@include media-sm {


  .player-turn {
    margin-top: 7rem;
    width: 400px;
  }

  .btn-restart,
  .btn-mode,
  .show-rules,
  .current-game-mode {
    font-size: 1.1rem;
  }

  .current-game-mode {
    width: 150px;
    text-align: center;
  }

  .show-rules {
    left: 10.4rem;
  }

  .change-mode {
    left: 1rem;
    top: 4rem
  }



}



@include media-xsm {


  .player-turn {
    margin-top: 13rem;
    width: 300px;
    transform: translateX(3%);
  }

  .show-rules {
    top: 7rem;
    left: 1rem;
  }
  
}

