@import './mixins';

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0px;
}

.board {
  position: relative;
  width: 600px;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  margin: auto;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.4)
}

.board::before {
  content: '';
  position: absolute;
  background: url("../assets/dama-num-vertical.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 2rem;
  left: -3rem;
}

.board::after {
  content: '';
  position: absolute;
  background: url("../assets/dama-num-horizontal.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  height: 2.4rem;
  bottom: -4.2rem;
}

.square {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.2s ease-out;
  
}

.piece {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  box-shadow: 0.2rem 0.2rem 0.32rem rgba(0, 0, 0, 0.5);
  z-index: 3;
  transition: all 0.2s ease-in-out;
}

.piece > span {
  transition: all 0.2s ease-in-out;
}

.piece:hover {
  scale: 1.05;
}

.odd {
  background-color: #fff;
}

.even {
  background-color: #bbb;
}

.player-turn {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-inline: 2rem;
  width: 600px;
  margin-inline: auto;
  border-top-right-radius: 0.7rem;
  border-top-left-radius: 0.7rem;
  box-shadow: 0.1rem 0.1rem 0.15rem rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}


.move {
  position: relative;
}

.restart-game {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.btn-restart {
  cursor: pointer;
  font-size: 1.1rem;
  background-color: greenyellow;
  border: none;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0.65);
  box-shadow: 0.1rem 0.1rem 0.15rem rgba(0, 0, 0, 0.4);
  transition: all 0.1s ease-in-out;
}

.btn-restart:hover {
  font-size: 1.15rem;
  background-color: aquamarine;
  color: black;
}

.change-mode {
  position: absolute;
  top: 5rem;
  right: 1rem;
}

.btn-mode {
  cursor: pointer;
  font-size: 1.1rem;
  background-color: greenyellow;
  border: none;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0.65);
  box-shadow: 0.1rem 0.1rem 0.15rem rgba(0, 0, 0, 0.4);
  transition: all 0.1s ease-in-out;
}

.btn-mode:hover {
  font-size: 1.15rem;
  background-color: aquamarine;
  color: black;
}

.show-rules {
  position: absolute;
  top: 5rem;
  left: 1rem;
}

.btn-show-rules {
  cursor: pointer;
  font-size: 1.1rem;
  background-color: greenyellow;
  border: none;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0.65);
  box-shadow: 0.1rem 0.1rem 0.15rem rgba(0, 0, 0, 0.4);
  transition: all 0.1s ease-in-out;
}

.btn-show-rules:hover {
  font-size: 1.15rem;
  background-color: aquamarine;
  color: black;
}

.current-game-mode {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.15rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: rgb(64, 255, 47);
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
}

.current-game-mode > span {
  font-weight: bold;
}

.operation {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: 0.1s ease-in-out;
}




@include media-md {
  .board {
      width: 500px;
    }
  
    .board::before {
      height: 500px;
      width: 1.6rem;
      left: -1.9rem;
    }
  
    .board::after {
      height: 2rem;
      width: 500px;
      bottom: -3.7rem;
    }
  
    .square {
      width: 62.5px;
      height: 62.5px;
    }
  
    .piece {
      width: 50px;
      height: 50px;
    }
  
    .player-turn {
      margin-top: 5rem;
      width: 500px;
    }

    .show-rules {
      top: 1rem;
      left: 11rem;
    }

    .change-mode {
      top: 1rem;
      left: 19.9rem;
    }

    .piece {
      font-size: 1.4rem;
    }
}



@include media-sm {
  .board {
    width: 400px;
  }

  .board::before {
    height: 400px;
    width: 1.4rem;
    left: -1.7rem;
  }

  .board::after {
    height: 1.8rem;
    width: 400px;
    bottom: -3.5rem;
  }

  .square {
    width: 50px;
    height: 50px;
  }

  .piece {
    width: 40px;
    height: 40px;
  }

  .player-turn {
    margin-top: 7rem;
    width: 400px;
  }

  .btn-restart,
  .btn-mode,
  .show-rules,
  .current-game-mode {
    font-size: 1.1rem;
  }

  .current-game-mode {
    width: 150px;
    text-align: center;
  }

  .show-rules {
    left: 10.4rem;
  }

  .change-mode {
    left: 1rem;
    top: 4rem
  }

  .piece {
    font-size: 1.3rem;
  }

}



@include media-xsm {
  .board {
    width: 300px;
    transform: translateX(3%);
  }

  .board::before {
    height: 300px;
    width: 1.2rem;
    left: -1.5rem;
  }

  .board::after {
    height: 1.5rem;
    width: 300px;
    bottom: -3.2rem;
  }

  .square {
    width: 37.5px;
    height: 37.5px;
  }

  .piece {
    width: 30px;
    height: 30px;
  }

  .player-turn {
    margin-top: 13rem;
    width: 300px;
    transform: translateX(3%);
  }

  .show-rules {
    top: 7rem;
    left: 1rem;
  }
  
}

