.score-one, .score-two {
  margin-right: auto;

}

.score-one {
  background-color: rgba(255,0,0,0.5);
}

.score-two {
  background-color: rgba(0,0,255,0.5);
}

.score-span {
  border: 1px solid;
  padding-inline: 0.5rem;
  background-color: black;
  color: white;
}

.score-text {
  padding-inline: 0.5rem;
} 