@import './mixins';

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.3);
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.winner-modal {
  width: 40%;
  text-align: center;
  background-color: #ccccff;
  padding-block: 2rem;
  margin-bottom: 10rem;
  border-radius: 2rem;
  box-shadow: 0 0 2rem 0.3rem rgba(0, 0, 0, 0.25);
}

.winner-modal p {
    font-size: 2.5rem;
    margin-bottom: 5rem;
    font-weight: bold;
}

.btn-new-game {
  cursor: pointer;
  display: block;
  margin-inline: auto;
  font-size: 2rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  margin-top: 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #7cf199;
  box-shadow: 0 0 1rem 0.15rem rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

.btn-new-game:hover {
  background-color: green;
  color: #fff;
}


@include media-xsm {
  .winner-modal {
    width: 80%;
    max-width: 400px;
  }

  .winner-modal p {
    font-size: 2rem;
  }
}