@import './mixins';

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.3);
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.winner-modal {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ccccff;
  padding-block: 2rem;
  // margin-bottom: 10rem;
  border-radius: 2rem;
  box-shadow: 0 0 2rem 0.3rem rgba(0, 0, 0, 0.25);
}

.game-result {
  font-weight: bold;
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}


.btn-new-game {
  cursor: pointer;
  display: block;
  margin-inline: auto;
  font-size: 2rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  margin-top: 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #7cf199;
  box-shadow: 0 0 1rem 0.15rem rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

.btn-new-game:hover {
  background-color: green;
  color: #fff;
}

.chips-p1, .chips-p2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.p1, .p2 {
  display: inline;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  margin-inline: 0.25rem;
  margin-block: 0.15rem;
  border-radius: 50%;
  color: white;
}

.king {
  border: 0.1rem dashed white;
}

.p1 {
  background: linear-gradient(to top left, red 0%, rgb(255, 90, 90) 70%)
}
.p2 {
  background: linear-gradient(to top left, blue 0%, rgb(90, 90, 255) 70%)
}

.score-p1,
.score-p2 {
  position: relative;
  margin-left: 5%;
  font-size: 1.3rem;
  margin-block: 0.15rem;
}

.scores {
  position: absolute;
  right: 5%;
}

.total {
  font-weight: 900 !important;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

@include media-md {
  .winner-modal {
    width: 70%;
    max-width: 400px;
  }
}

@include media-sm {
  .winner-modal {
    width: 80%;
    max-width: 400px;
  }
}

@include media-xsm {
  .winner-modal {
    width: 80%;
    max-width: 400px;
  }

  .score-p1,
  .score-p2 {
    font-size: 1rem;
  }
  .total {
    font-size: 1.1rem;
  }
}